grant {
    permission java.net.SocketPermission "*", "connect,resolve";
    permission java.lang.RuntimePermission "accessDeclaredMembers";
    permission java.net.NetPermission "*", "*";
    permission java.lang.reflect.ReflectPermission "*";
    permission java.lang.RuntimePermission "getClassLoader";
};